# Day 1 - 1st Nov, 2022

## What is Python?
A high level multi-purpose programming language.

Supports both object oriented and procedural programming styles.

It has a wide range of libraries and frameworks which makes its use popular in Machine Learning.

# Day 2

## Python Data Types
They represent the kind of value variables can hold and the operations that can be performed on a particular data.

### a. Integer

In [1]:
var = 5
print(var)
print(type(var))

5
<class 'int'>

### b. Float

In [2]:
var2 = 0.789
print(var2)
print(type(var2))

0.789
<class 'float'>

### c. Complex Numbers

In [3]:
x = 2j
print(x)
print(type(x))

2j
<class 'complex'>

### d. String

In [4]:
greeting = 'Hello World!'
print(greeting)
print(type(greeting))

Hello World!
<class 'str'>

### e. Lists

In [5]:
l1 = ['Outback', 'Mercedes', 'Maserati']
print(l1)
print(type(l1))

['Outback', 'Mercedes', 'Maserati']
<class 'list'>

### f. Tuple

In [6]:
t1 = ('Outback', 'Mercedes', 'Maserati')
print(t1)
print(type(t1))

('Outback', 'Mercedes', 'Maserati')
<class 'tuple'>

### g. Dictionary

In [7]:
soon = {'Name': 'Samson', 'Role':'ML-Eng', 'Location':'Remote', 'Start': 'January-2023'}
print(soon)
print(type(soon))

{'Name': 'Samson', 'Role': 'ML-Eng', 'Location': 'Remote', 'Start': 'January-2023'}
<class 'dict'>

### h. Set

In [8]:
s1 = set({'Samson', 'ML-Eng', 'Remote', 'January-2023'})
print(s1)
print(type(s1))

{'Remote', 'ML-Eng', 'Samson', 'January-2023'}
<class 'set'>

### i. Frozen Set

In [9]:
s2 = frozenset({'Remote', 'Samson', 'ML-Eng', 'Remote', 'January-2023', 'ML-Eng'})
print(s2)
print(type(s2))

frozenset({'Remote', 'ML-Eng', 'Samson', 'January-2023'})
<class 'frozenset'>

### j. Boolean

In [10]:
tf = True
print(tf)
print(type(tf))

True
<class 'bool'>

### k. Byte

In [11]:
b1 = b'Outback'
print(b1)
print(type(b1))

b'Outback'
<class 'bytes'>

# Day 3

## Python Operators
They are the contructs that manipulate the value of operands.

### a. Arithmetic Operators

In [12]:
x = 4
y = 3

print('Addition:', x+y)
print('Subtraction:', x-y)
print('Multiplication:', x*y)
print('Division:', x/y)
print('Modulus:', x%y)
print('Floor Division:', x//y)
print('Exponent:', x+y)

Addition: 7
Subtraction: 1
Multiplication: 12
Division: 1.3333333333333333
Modulus: 1
Floor Division: 1
Exponent: 7

### b. Comparison Operators

In [13]:
#Result is either true or false

x = 4
y = 3

print('Greater than:', x>y)
print('Less than:', x<y)
print('Greater than equal to:', x>=y)
print('Less than equal to:', x<=y)
print('Not equal to:', x!=y)
print('Equal to:', x==y)

Greater than: True
Less than: False
Greater than equal to: True
Less than equal to: False
Not equal to: True
Equal to: False

### c. Logical Operators

In [14]:
#Results in either True or False
#and, or, not

x = True
y = False

print('And result:', (x and y))
print('Or result:', (x or y))
print('Not result:', (not y))

And result: False
Or result: True
Not result: True

### d. Bitwise Operators

In [15]:
x = 1001
y = 1010

print('And result:', (x & y))
print('Or result:', (x | y))
print('Not result:', (~y))
print('XOR result:', (x ^ y))
print('Bitwise right shift result:', (x>>2))
print('Bitwise left shift result:', (x<<2))

And result: 992
Or result: 1019
Not result: -1011
XOR result: 27
Bitwise right shift result: 250
Bitwise left shift result: 4004

### e. Membership Operators

In [16]:
#Used to assign values to variables

x = 'Machine Learning'

print('y' in x)
print('a' in x)

False
True

### f. Identity Operators

In [17]:
#Is and Is Not are the Python identity operators

x = 7
y = 7
z = 'a'

print('Is operator result:', (x is y))
print('Is Not operator result:', (y is not z))

Is operator result: True
Is Not operator result: True

# Day 4

## Python Lists
- Stores both non/homogenous elements.
- Created by use of square brackets [].
- The items in the list are indexed with the first item being index [0], second [1]...[n].

### Create a list

In [18]:
list_one = ['engineer', 'lead', 'analyst', 'scientist','senior', 'mentor']
print(list_one)

#List Length
print(len(list_one))

['engineer', 'lead', 'analyst', 'scientist', 'senior', 'mentor']
6

### List with different types of elements

In [19]:
list_two = ['outback', 27, 'mayback', 80.67, 'male']
print(list_two)

['outback', 27, 'mayback', 80.67, 'male']

### Create Nested List

In [20]:
nest_list = ['cars', ['roles', [1, 2, 3, 4], 'soon'], 'titles']
print(nest_list)

['cars', ['roles', [1, 2, 3, 4], 'soon'], 'titles']

### Slice Lists

In [21]:
#Involves choosing a range
list_one = ['engineer', 'lead', 'analyst', 'scientist','senior', 'mentor']
print(list_one[2:5])

['analyst', 'scientist', 'senior']

In [22]:
### Appending to a list
list_two = ['outback', 27, 'mayback', 80.67, 'male']
list_two.append(28)
list_two.append('wedding')
print(list_two)

['outback', 27, 'mayback', 80.67, 'male', 28, 'wedding']

### Changing list elements

In [23]:
list_two

['outback', 27, 'mayback', 80.67, 'male', 28, 'wedding']

In [24]:
list_two[4] = 'London'
print(list_two)

['outback', 27, 'mayback', 80.67, 'London', 28, 'wedding']

# Day 5

## Python Tuples
- They are immutable(unchangeable), ordered and allow duplicate values.
- Created by use of parentheses().

### Create a tuple

In [25]:
numbers = (7, 1, 44, 69)
print(numbers)

#Tuple length
print(len(numbers))

(7, 1, 44, 69)
4

### Tuple with different data types

In [26]:
a = ('engineer', 7, True, 'red', 80.7)
print(a)

('engineer', 7, True, 'red', 80.7)

### Nested tuples

In [27]:
tuple_nest = ('engineer', 7, True, (7, 1, 44, 69), 'red', 80.7, 'Jan_2023')
print(tuple_nest)

('engineer', 7, True, (7, 1, 44, 69), 'red', 80.7, 'Jan_2023')

### Accessing tuple elements

In [28]:
numbers = (7, 1, 44, 69)
print(numbers[2])

44

# Day 6

## Python sets
- They are unordered, unchangeable(can remove/add new items) and unindexed.
- Created by wrapping items in brackets{}.
- There cannot be nested sets and cannot access elements using indexes,

### Creating a set

In [29]:
numbers = {7, 1, 44, 69}
print(numbers)

#Set length
print(len(numbers))

{1, 44, 69, 7}
4

### A set with different types

In [30]:
b = {'engineer', 7, True, 'red', 80.7}
print(b)

{80.7, True, 'red', 7, 'engineer'}

### Accessing a set by looping through it

In [31]:
this_set = {'fruits', 'meat', 'veggies'}

for x in this_set:
    print(x)

meat
veggies
fruits

### Update sets

In [32]:
this_set = {'fruits', 'meat', 'veggies'}
a = {'engineer', 7, True, 'red', 80.7}

this_set.update(a)

print(this_set)

{True, 'red', 7, 'veggies', 'engineer', 80.7, 'meat', 'fruits'}

# Day 7

## Python Dictionaries
- Data values are stored in key:values pairs.
- Keys are immutable and can't be repeated while the values can be of any data type and be duplicated.

### Create a Dictionary

In [38]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7}
print(b_dict)
print(len(b_dict))

{0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7}
5

### Accessing elements

In [42]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict[6])

meat

In [40]:
#Using the get() method
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7}
print(b_dict.get(2))

True

### Changing & Adding Elements

In [43]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}

#Change element
b_dict[6] = 'fish'
print('After changing an element', b_dict)

#Add element
b_dict[8] = 'humility'
print('After adding an element', b_dict)

After changing an element {0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7, 5: 'fruits', 6: 'fish', 7: 'veggies'}
After adding an element {0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7, 5: 'fruits', 6: 'fish', 7: 'veggies', 8: 'humility'}

### Removing Elements

In [46]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict.pop(4))

#popitem: remove an arbitrary item and return(key, value)
print(b_dict.popitem()) #Last item in the dict. goes

80.7
(7, 'veggies')

### Display a list of a dictionary's(key, value) tuple pairs

In [47]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict.items())

dict_items([(0, 'engineer'), (1, 7), (2, True), (3, 'red'), (4, 80.7), (5, 'fruits'), (6, 'meat'), (7, 'veggies')])

### Nested dictionaries

In [49]:
person = {'food': {0:'fruits', 1:'meat', 2:'veggies'},
            'role': {0:'engineer', 1:'scientist'}, 
            'likes': {0:True, 1:'red', 2:80.7}
           }

print(person['role'][1])

scientist

## First Week Mini-Project
#### Madlibs fun word game

In [ ]:
adj = input('Adjective: awesome')
verb1 = input('Verb: like')
verb2 = input('Verb: walk')
famous_person = input('Famous person: Mr. Beast')

madlib = f'Python programming is so {adj}! It makes me so excited all the time because \
I love to {verb1}. Stay hydrated and {verb2} like you are {famous_person}!'

print(madlib)

# Day 8

## Python Functions
- A function is a block of code that only runs when called.
- One passes data, known as parameters, into a function.

In [54]:
def my_function():
    print('I am on the challenge of #60DaysofMachineLearning!')
    
my_function()

I am on the challenge of #60DaysofMachineLearning!

### Arguments
- They are included in parentheses following the function name.

In [55]:
def my_function(fname):
    print(fname + ' Engineer')
    
my_function('ML')
my_function('Data')
my_function('Cloud')
my_function('AI')

ML Engineer
Data Engineer
Cloud Engineer
AI Engineer

# Day 9

## Python Conditions and If Statements
- Executes a specific block of code ONLY when the given condition is met.

### IF statements

In [1]:
a = 53
b = 777

if b > a:
    print('b is greater than a')

b is greater than a

### ELIF Statements
- Attempt this condition if the preceding conditions were not met.

In [3]:
a = 73
b = 73

if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')

a and b are equal

### ELSE Statement
- Anything notcovered in previous conditions is captured by the else keyword.

In [6]:
a = 737
b = 73

if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')
else:
    print('a is greater than b')

a is greater than b

### Nested IF Statements

In [11]:
a = 73

if a > 30:
    print('Above thirty')
    if a > 50:
        print('and also above fifty')
        if a == 73:
            print('but equals to seventy three.')
else:
    print('but not above 40')

Above thirty
and also above fifty
but equals to seventy three.

### PASS Statements
- Prevents an error when the 'IF' statement has no content.

In [12]:
a = 73
b = 73

if b > a:
    pass

# Day 10

## Python While Loops
- Used to repeat a block of code a certain amount of times as long as the condition is true.

In [14]:
a = 1

while a < 12:
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10
11

### Break Statement
- Used to stop a loop from continuing to iterate even when the hile condition is true.

In [15]:
a = 1

while a < 12:
    print(a)
    if a == 7:
        break
    a += 1

1
2
3
4
5
6
7

### Continue Statement
- Stops the current iteration and skips to the next iteration.

In [21]:
a = 0

while a < 12:
    a += 1
    if a == 7:
        continue
    print(a)

1
2
3
4
5
6
8
9
10
11
12

### Else Statement
- Runs a block of code after the loop condition is no longer true.

In [22]:
a = 1

while a < 12:
    print(a)
    a += 1
else:
    print('a is no longer less than 12!')

1
2
3
4
5
6
7
8
9
10
11
a is no longer less than 12!

# Day 11

## Python For Loops
- Used to iterate through a sequence.

In [5]:
meat = ['fish', 'mutton', 'beef', 'chicken', 'goat', 'crocodile']

for x in meat:
    print(x)

fish
mutton
beef
chicken
goat
crocodile

In [6]:
#We can use 'break' statement to stop the loop before looping through all items
meat = ['fish', 'mutton', 'beef', 'chicken', 'goat', 'crocodile']

for x in meat:
    print(x)
    if x == 'beef':
        break

fish
mutton
beef

In [7]:
#We use 'continue' to end current iteration and move to the next
meat = ['fish', 'mutton', 'beef', 'chicken', 'goat', 'crocodile']

for x in meat:
    if x == 'beef':
        continue
    print(x)

fish
mutton
chicken
goat
crocodile

In [8]:
#We use 'range()' to loop a certain number of times.
# Starts at zero and by default advances by one

for x in range(8):
    print(x)

0
1
2
3
4
5
6
7

### Nested Loops
- A loop contained in another loop

In [14]:
food = ['fruits', 'meat', 'veggies']
a = ['engineer', 7, True]
meat = ['fish', 'mutton', 'beef']

for x in food:
    for y in a:
        for z in meat:
            print(x, y, z)

fruits engineer fish
fruits engineer mutton
fruits engineer beef
fruits 7 fish
fruits 7 mutton
fruits 7 beef
fruits True fish
fruits True mutton
fruits True beef
meat engineer fish
meat engineer mutton
meat engineer beef
meat 7 fish
meat 7 mutton
meat 7 beef
meat True fish
meat True mutton
meat True beef
veggies engineer fish
veggies engineer mutton
veggies engineer beef
veggies 7 fish
veggies 7 mutton
veggies 7 beef
veggies True fish
veggies True mutton
veggies True beef

In [15]:
# 'Pass' statement prevents an error when the loop has no comment

food = ['fruits', 'meat', 'veggies']

for x in food:
    pass

# Day 12

## Python Classes and Objects
- A class are a means for bunding data and functionality together.
- Creating a class creates an object with instances of that type which may have methods for modifying their states.

### Create a class

In [16]:
class Myclass:
    a = 7

### Create an object

In [18]:
n1 = Myclass()
print(n1.a)

7

### The 'init()' function
- Executed every time the class is launched.
- Used to assign values to object properties or perform other operations required when the object is created.

In [19]:
# Create a class named Person, use init() to assign values for namr and age

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
n1 = Person('Bob', 37)

print(n1.name)
print(n1.age)

Bob
37

### Object Methods
- They are functions that belong to the object.

In [30]:
# Create a method in Person class, insert a function to print a greeting and execute on n1 object

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print('Hello my name is ' + self.name + '.')
        
n1 = Person('Bob', 37)
n1.myfunc()

Hello my name is Bob.

### Self Parameter
- Refers to current class instance and used to access class variables.
- The 'self' parameter can be called any name & be the first parameter of any method in the class.

In [33]:
class Person:
    def __init__(home, name, age):
        home.name = name
        home.age = age
        
    def myfunc(night):
        print('Hello my name is ' + night.name + '.')
        
n1 = Person('Bob', 37)
n1.myfunc()

Hello my name is Bob.

In [34]:
# You can modify properties just like any other Python variables
n1.age

37

In [38]:
n1.age = 47
print(n1.name)
print(n1.age)

Bob
47

# Day 13

## Python Inheritance
- Allows us to create a class(child/derived class) that inherits another class's(parent/base class) methods and properties.

### Creating a Parent Class

In [40]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
# Use Person class to create an object and execute the printname method
x = Person('Bob', 'Money')
x.printname()

Bob Money

### Creating a Child Class
Set parent class as a parameter when constructing a child class.

In [41]:
# Create a class named Student which inherits from the parent class

class Student(Person):
    pass

x = Student('Poke', 'Mone')
x.printname()

Poke Mone

### Using the Super function
- Makes child inherit from parent without mentioning parent class when using 'super()' function.

In [45]:
class Student(Person): 
    def __init__(self, fname, lname):
        super().__init__(self, fname, lname)

### Add Properties & Methods

In [51]:
# Add a property 'graduationyear' to Student class and add a year parameter & pass correct year when creating objects
# Add a method 'welcome' to the Student class

class Student(Person): 
    def __init__(self, fname, lname, year):
        super().__init__(self, fname, lname)
        self.graduationyear = 2022
        
    def welcome(self):
        print('Welcome', self.firstname, self.lastname, 'to the class of', self.graduationyear)

# Day 14

## Data Prep
- Web scrapping skills which involves dabbling in html code.
- Visit website of interest, click f12, side panel appears, search element with text you want and parse.

In [2]:
import requests
from bs4 import BeautifulSoup

# Download content from the website
r = requests.get('https://en.wikipedia.org/wiki/Machine_Learning')

# Parse the html content
soup = BeautifulSoup(r.content, 'html.parser')

# Extract the title from the article
print(soup.title)
print(soup.title.text)

# Extract the first paragraph from the article
first_paragrph = soup.find_all('p')[0]
print(first_paragrph.text)

<title>Machine learning - Wikipedia</title>
Machine learning - Wikipedia
Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks.[1] It is seen as a part of artificial intelligence. Machine learning algorithms build a model based on sample data, known as training data, in order to make predictions or decisions without being explicitly programmed to do so.[2] Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering, speech recognition, agriculture, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed tasks.[3][4]
A subset of machine learning is closely related to computational statistics, which focuses on making predictions using computers, but not all machine learning is statistical learning. The study of mathematical optimization delivers methods, theory and application domains to the field of machine learning. Data mining is a related field of study, focusing on exploratory data analysis through unsupervised learning.[6][7] Some implementations of machine learning use data and neural networks in a way that mimics the working of a biological brain.[8][9]  In its application across business problems, machine learning is also referred to as predictive analytics.

$ Further  Practice  on  Webscraping  Required $ - https://www.youtube.com/watch?v=XVv6mJpFOb0&ab_channel=freeCodeCamp.org

# Day 15

## Data Prep 2
After collecting raw data, you need to extract and prepare the info important to train the ML model.

## Parsing Files
Converting data from one format to another.

In [ ]:
# Opening a file
f = open('ML.txt', 'rt')

# Read files
print(f.read())

# Read line per line of a file
f = open('ML.txt', 'rt')
for x in f:
    print(x)
    
# Write/Create Files
f = open('demofile2.txt', 'a')
f.write('Now the file has more content')
f.close()

#Open and read the file after the appending
f = open('demofile2.txt', 'r')
print(f.read())

# Delete files
# You must import the 'OS' module and run its 'os.remove()' function
import os
os.remove('demofile.txt')

# Day 16

## Data Management using SQL with Python
Python is used in database applications and one of the most popular databases is MySQL

In [19]:
# Testing the connection
import mysql.connector

In [20]:
# Creating a connection to the database
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001'
                              )
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002374D2883D0>

In [23]:
# Create a database(Use 'CREATE DATABASE' statement)
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001'
                              )
mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE mydatabase1')

In [13]:
# Create a table(Use 'CREATE TABLE' statement)
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE customers(name VARCHAR(255), address VARCHAR(255))')

# Day 17

## Data Management - Adding & Updating Records to a Table
Use the 'INSERT INTO' statement.

In [27]:
# Insert a record in the 'customers' table
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = ('John', 'Highway 21')

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, 'record inserted.')

1 record inserted.

### Insert Multiple rows
* use the 'executemany()' method
* The 2nd parameter of the executemany() is a lst of tuples containing the data you want to insert

In [31]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = [
    ('Kim', 'High 4'),
    ('Yolo', 'Came 54'),
    ('Did', 'Databease 9'),
    ('Won', '57 Waters'),
    ('Ball', 'Monies 7'),
    ('Gifty', 'Leeway 98'),
    ('Understood', 'Remote 7')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, 'more records inserted.')

7 more records inserted.

### Insert an ID
* You can get the id of the row you just inserted by asking the cursor object

In [32]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = ('Role', 'Engineer 7')

mycursor.execute(sql, val)

mydb.commit()

print('1 record inserted, ID:', mycursor.lastrowid)

1 record inserted, ID: 0

### Update a table
* Use the 'UPDATE' statement

In [37]:
# Overwrite the address column from 'Databease 9' to 'Landjob 123'
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Jobland 123' WHERE address = 'Databease 9'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, 'record(s) affected')

1 record(s) affected

# Day 18

## Database Management - Reading Database Records
You need use the SELECT keyword to get results from a table.

In [41]:
# Select all records from the 'customers' table and display the result
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute('SELECT * FROM customers')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Kim', 'High 4')
('Yolo', 'Came 54')
('Did', 'Jobland 123')
('Won', '57 Waters')
('Ball', 'Monies 7')
('Gifty', 'Leeway 98')
('Understood', 'Remote 7')
('Role', 'Engineer 7')

### Selecting Columns

In [44]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute('SELECT address FROM customers')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Highway 21',)
('High 4',)
('Came 54',)
('Jobland 123',)
('57 Waters',)
('Monies 7',)
('Leeway 98',)
('Remote 7',)
('Engineer 7',)

### Selecting one row

In [50]:
# Use 'fetchone()' method to select one row
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute('SELECT name, address FROM customers')

myresult = mycursor.fetchone()

for x in myresult:
    print(x)

John
Highway 21

### Limiting returned results
Use the 'LIMIT' statement

In [53]:
# Select the first 3 records in the 'customers' table
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute('SELECT * FROM customers LIMIT 3')

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Kim', 'High 4')
('Yolo', 'Came 54')

# Day 19

## Database Management - Filtering Records
* When selecting records, you can filter using the 'WHERE' satement

In [56]:
# Select record where the address is 'Remote 7'
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = 'Remote 7'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Understood', 'Remote 7')

In [57]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers WHERE address = 'Remote 7'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Understood', 'Remote 7')

### Wildcard Characters
You can select records with certain characters/phrases.
Use the % to rep. wildcard characters

In [58]:
# Select records where address contains the word 'way'
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers WHERE address LIKE '%WAY%'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Gifty', 'Leeway 98')

### Prevent SQL Injection
When the user provides query values, you should escape the values to avoid SQL injections.

Use the placeholders '%s' method to escape query values

In [60]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = '%s'"
adr = ('Engineer 7')

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

# Day 20

## Database Management - Sorting Records
Use the 'OREDR BY' command to sort in ASC/DESC order. By default, the command sorts in ascending.

In [61]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"
adr = ('Engineer 7')

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ball', 'Monies 7')
('Did', 'Jobland 123')
('Gifty', 'Leeway 98')
('John', 'Highway 21')
('Kim', 'High 4')
('Role', 'Engineer 7')
('Understood', 'Remote 7')
('Won', '57 Waters')
('Yolo', 'Came 54')

In [62]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"
adr = ('Engineer 7')

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Yolo', 'Came 54')
('Won', '57 Waters')
('Understood', 'Remote 7')
('Role', 'Engineer 7')
('Kim', 'High 4')
('John', 'Highway 21')
('Gifty', 'Leeway 98')
('Did', 'Jobland 123')
('Ball', 'Monies 7')

# Day 21

## Data Management - Delete Records
- Use the 'DELETE FROM' statement

In [4]:
# Delete any record where the address is '57 Waters'
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = '57 Waters'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, 'record(s) deleted')

0 record(s) deleted

### Delete a table
- Use the 'DROP TABLE' statement
- If the table you intend to delete has been deleted before, use 'IF EXISTS' to avoid an error.

In [10]:
#Drop the table customers
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

In [11]:
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

# Day 22

## Data Management - Updating Tables
- Use the 'UPDATE' statement

In [15]:
# Overwrite 'Came 54' to 'Maximize Time'
import mysql.connector
mydb = mysql.connector.connect(host = 'localhost',
                              user = 'root',
                              password = '@Brian/2001',
                               database = 'mydatabase1'
                              )

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Maximize Time' WHERE address = 'Came 54'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, 'record(s) affected')

0 record(s) affected