# Day 1 - 1st Nov, 2022

## What is Python?
A high level multi-purpose programming language.

Supports both object oriented and procedural programming styles.

It has a wide range of libraries and frameworks which makes its use popular in Machine Learning.

# Day 2

## Python Data Types
They represent the kind of value variables can hold and the operations that can be performed on a particular data.

### a. Integer

In [1]:
var = 5
print(var)
print(type(var))

5
<class 'int'>

### b. Float

In [2]:
var2 = 0.789
print(var2)
print(type(var2))

0.789
<class 'float'>

### c. Complex Numbers

In [3]:
x = 2j
print(x)
print(type(x))

2j
<class 'complex'>

### d. String

In [4]:
greeting = 'Hello World!'
print(greeting)
print(type(greeting))

Hello World!
<class 'str'>

### e. Lists

In [5]:
l1 = ['Outback', 'Mercedes', 'Maserati']
print(l1)
print(type(l1))

['Outback', 'Mercedes', 'Maserati']
<class 'list'>

### f. Tuple

In [6]:
t1 = ('Outback', 'Mercedes', 'Maserati')
print(t1)
print(type(t1))

('Outback', 'Mercedes', 'Maserati')
<class 'tuple'>

### g. Dictionary

In [7]:
soon = {'Name': 'Samson', 'Role':'ML-Eng', 'Location':'Remote', 'Start': 'January-2023'}
print(soon)
print(type(soon))

{'Name': 'Samson', 'Role': 'ML-Eng', 'Location': 'Remote', 'Start': 'January-2023'}
<class 'dict'>

### h. Set

In [8]:
s1 = set({'Samson', 'ML-Eng', 'Remote', 'January-2023'})
print(s1)
print(type(s1))

{'Remote', 'ML-Eng', 'Samson', 'January-2023'}
<class 'set'>

### i. Frozen Set

In [9]:
s2 = frozenset({'Remote', 'Samson', 'ML-Eng', 'Remote', 'January-2023', 'ML-Eng'})
print(s2)
print(type(s2))

frozenset({'Remote', 'ML-Eng', 'Samson', 'January-2023'})
<class 'frozenset'>

### j. Boolean

In [10]:
tf = True
print(tf)
print(type(tf))

True
<class 'bool'>

### k. Byte

In [11]:
b1 = b'Outback'
print(b1)
print(type(b1))

b'Outback'
<class 'bytes'>

# Day 3

## Python Operators
They are the contructs that manipulate the value of operands.

### a. Arithmetic Operators

In [12]:
x = 4
y = 3

print('Addition:', x+y)
print('Subtraction:', x-y)
print('Multiplication:', x*y)
print('Division:', x/y)
print('Modulus:', x%y)
print('Floor Division:', x//y)
print('Exponent:', x+y)

Addition: 7
Subtraction: 1
Multiplication: 12
Division: 1.3333333333333333
Modulus: 1
Floor Division: 1
Exponent: 7

### b. Comparison Operators

In [13]:
#Result is either true or false

x = 4
y = 3

print('Greater than:', x>y)
print('Less than:', x<y)
print('Greater than equal to:', x>=y)
print('Less than equal to:', x<=y)
print('Not equal to:', x!=y)
print('Equal to:', x==y)

Greater than: True
Less than: False
Greater than equal to: True
Less than equal to: False
Not equal to: True
Equal to: False

### c. Logical Operators

In [14]:
#Results in either True or False
#and, or, not

x = True
y = False

print('And result:', (x and y))
print('Or result:', (x or y))
print('Not result:', (not y))

And result: False
Or result: True
Not result: True

### d. Bitwise Operators

In [15]:
x = 1001
y = 1010

print('And result:', (x & y))
print('Or result:', (x | y))
print('Not result:', (~y))
print('XOR result:', (x ^ y))
print('Bitwise right shift result:', (x>>2))
print('Bitwise left shift result:', (x<<2))

And result: 992
Or result: 1019
Not result: -1011
XOR result: 27
Bitwise right shift result: 250
Bitwise left shift result: 4004

### e. Membership Operators

In [16]:
#Used to assign values to variables

x = 'Machine Learning'

print('y' in x)
print('a' in x)

False
True

### f. Identity Operators

In [17]:
#Is and Is Not are the Python identity operators

x = 7
y = 7
z = 'a'

print('Is operator result:', (x is y))
print('Is Not operator result:', (y is not z))

Is operator result: True
Is Not operator result: True

# Day 4

## Python Lists
- Stores both non/homogenous elements.
- Created by use of square brackets [].
- The items in the list are indexed with the first item being index [0], second [1]...[n].

### Create a list

In [18]:
list_one = ['engineer', 'lead', 'analyst', 'scientist','senior', 'mentor']
print(list_one)

#List Length
print(len(list_one))

['engineer', 'lead', 'analyst', 'scientist', 'senior', 'mentor']
6

### List with different types of elements

In [19]:
list_two = ['outback', 27, 'mayback', 80.67, 'male']
print(list_two)

['outback', 27, 'mayback', 80.67, 'male']

### Create Nested List

In [20]:
nest_list = ['cars', ['roles', [1, 2, 3, 4], 'soon'], 'titles']
print(nest_list)

['cars', ['roles', [1, 2, 3, 4], 'soon'], 'titles']

### Slice Lists

In [21]:
#Involves choosing a range
list_one = ['engineer', 'lead', 'analyst', 'scientist','senior', 'mentor']
print(list_one[2:5])

['analyst', 'scientist', 'senior']

In [22]:
### Appending to a list
list_two = ['outback', 27, 'mayback', 80.67, 'male']
list_two.append(28)
list_two.append('wedding')
print(list_two)

['outback', 27, 'mayback', 80.67, 'male', 28, 'wedding']

### Changing list elements

In [23]:
list_two

['outback', 27, 'mayback', 80.67, 'male', 28, 'wedding']

In [24]:
list_two[4] = 'London'
print(list_two)

['outback', 27, 'mayback', 80.67, 'London', 28, 'wedding']

# Day 5

## Python Tuples
- They are immutable(unchangeable), ordered and allow duplicate values.
- Created by use of parentheses().

### Create a tuple

In [25]:
numbers = (7, 1, 44, 69)
print(numbers)

#Tuple length
print(len(numbers))

(7, 1, 44, 69)
4

### Tuple with different data types

In [26]:
a = ('engineer', 7, True, 'red', 80.7)
print(a)

('engineer', 7, True, 'red', 80.7)

### Nested tuples

In [27]:
tuple_nest = ('engineer', 7, True, (7, 1, 44, 69), 'red', 80.7, 'Jan_2023')
print(tuple_nest)

('engineer', 7, True, (7, 1, 44, 69), 'red', 80.7, 'Jan_2023')

### Accessing tuple elements

In [28]:
numbers = (7, 1, 44, 69)
print(numbers[2])

44

# Day 6

## Python sets
- They are unordered, unchangeable(can remove/add new items) and unindexed.
- Created by wrapping items in brackets{}.
- There cannot be nested sets and cannot access elements using indexes,

### Creating a set

In [29]:
numbers = {7, 1, 44, 69}
print(numbers)

#Set length
print(len(numbers))

{1, 44, 69, 7}
4

### A set with different types

In [30]:
b = {'engineer', 7, True, 'red', 80.7}
print(b)

{80.7, True, 'red', 7, 'engineer'}

### Accessing a set by looping through it

In [31]:
this_set = {'fruits', 'meat', 'veggies'}

for x in this_set:
    print(x)

meat
veggies
fruits

### Update sets

In [32]:
this_set = {'fruits', 'meat', 'veggies'}
a = {'engineer', 7, True, 'red', 80.7}

this_set.update(a)

print(this_set)

{True, 'red', 7, 'veggies', 'engineer', 80.7, 'meat', 'fruits'}

# Day 7

## Python Dictionaries
- Data values are stored in key:values pairs.
- Keys are immutable and can't be repeated while the values can be of any data type and be duplicated.

### Create a Dictionary

In [38]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7}
print(b_dict)
print(len(b_dict))

{0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7}
5

### Accessing elements

In [42]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict[6])

meat

In [40]:
#Using the get() method
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7}
print(b_dict.get(2))

True

### Changing & Adding Elements

In [43]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}

#Change element
b_dict[6] = 'fish'
print('After changing an element', b_dict)

#Add element
b_dict[8] = 'humility'
print('After adding an element', b_dict)

After changing an element {0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7, 5: 'fruits', 6: 'fish', 7: 'veggies'}
After adding an element {0: 'engineer', 1: 7, 2: True, 3: 'red', 4: 80.7, 5: 'fruits', 6: 'fish', 7: 'veggies', 8: 'humility'}

### Removing Elements

In [46]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict.pop(4))

#popitem: remove an arbitrary item and return(key, value)
print(b_dict.popitem()) #Last item in the dict. goes

80.7
(7, 'veggies')

### Display a list of a dictionary's(key, value) tuple pairs

In [47]:
b_dict = {0:'engineer', 1:7, 2:True, 3:'red', 4:80.7, 5:'fruits', 6:'meat', 7:'veggies'}
print(b_dict.items())

dict_items([(0, 'engineer'), (1, 7), (2, True), (3, 'red'), (4, 80.7), (5, 'fruits'), (6, 'meat'), (7, 'veggies')])

### Nested dictionaries

In [49]:
person = {'food': {0:'fruits', 1:'meat', 2:'veggies'},
            'role': {0:'engineer', 1:'scientist'}, 
            'likes': {0:True, 1:'red', 2:80.7}
           }

print(person['role'][1])

scientist

## First Week Mini-Project
#### Madlibs fun word game

In [ ]:
adj = input('Adjective: awesome')
verb1 = input('Verb: like')
verb2 = input('Verb: walk')
famous_person = input('Famous person: Mr. Beast')

madlib = f'Python programming is so {adj}! It makes me so excited all the time because \
I love to {verb1}. Stay hydrated and {verb2} like you are {famous_person}!'

print(madlib)

# Day 8

## Python Functions
- A function is a block of code that only runs when called.
- One passes data, known as parameters, into a function.

In [54]:
def my_function():
    print('I am on the challenge of #60DaysofMachineLearning!')
    
my_function()

I am on the challenge of #60DaysofMachineLearning!

### Arguments
- They are included in parentheses following the function name.

In [55]:
def my_function(fname):
    print(fname + ' Engineer')
    
my_function('ML')
my_function('Data')
my_function('Cloud')
my_function('AI')

ML Engineer
Data Engineer
Cloud Engineer
AI Engineer